services:
  baseconnector:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: baseconnector
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - app-storage:/app/storage
    environment:
      - APP_URL=${APP_URL:-http://localhost}
      - CLOUDFLARE_TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN:-}


volumes:
  app-storage:
